.main-btn {
  background-color: #f90;
  color: #fff;
  border: none;
  padding: 10px 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease;
}

.main-btn:hover {
  opacity: 0.85;
}
